/* .ant-menu-item.workspace-section {
  border-radius: 0px;
  border-top: 1px solid rgba(233, 236, 255, 1);
}

.ant-menu-submenu-title.workspace-item {
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  margin: 0px;
}

.ant-menu-item.workspace-child {
  background-color: white;
  width: 100%;
  margin-left: 0px;
  border-radius: 0px;
  margin: 0px;
}

.ant-menu-submenu-title {
  padding-left: 24px;
  border-radius: 0px;
  width: 100%;
  margin-left: 0px;
}

.workspace-item {
  border-radius: 0px !important;
  border-bottom: 1px solid gray;
}

.workspace-item-label {
  font-weight: 600;
} */

.ant-menu.sidebar-menu li{
  margin: 0px !important;
  width: 100%;
  border-radius: 0px;
  border-bottom: 1px solid rgba(233, 236, 255, 1);
}

.ant-menu.sidebar-menu li:nth-child(1){
  border-bottom: none;
}

.ant-menu.sidebar-menu li .ant-menu-submenu-title{
  margin: 0px !important;
  width: 100%;
  border-radius: 0px;
  padding: 0px 20px 0px 0px;
}

.sidebar-menu.ant-menu-inline.ant-menu-root .ant-menu-item{
  column-gap: 4px;
}

.workspace-item-label {
  font-weight: 600;
  color: #334488;
}