.tracker-details-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
}

.tracker-details-row-2 {
  /* height: 100%; */
  height: inherit;
}

.tracker-details-container .ant-card-head {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 4;
}