.tracker-details-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  max-height: calc(100vh - 64px);
  /* background-color: antiquewhite; */
}

.tracker-details-row-2 {
  /* height: 100%; */
  height: inherit;
}