.tracker-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  border-radius: 16px;
  background-color: white;
  row-gap: 20px;
}

.tracker-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tracker-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  margin-bottom: 0px;
}

.tracker-target {
  display: flex;
  align-items: center;
  column-gap: 8px;
  border-radius: 12px;
  background-color: #E6E7EC;
  padding: 8px 10px 8px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #494C57;
}

.tracker-date-card {
  border-radius: 14px;
  background-color: #EBF0FF;
  color: #2D52CC;
  padding: 6px 12px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.tracker-progress-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #020D3D; 
}

.tracker-popover {
  padding: 0px;
}

.tracker-popover-item {
  width: 100% !important;
  min-width: 100px;
  display: flex;
  column-gap: 4px;
  align-items: center;
  padding: 0px;
  margin: 0px;
  /* padding: 4px 0px; */
  /* font-size: 14px;
  font-weight: 400; */
  /* cursor: pointer; */
}

.tracker-title {
  display: flex;
  align-items: center;
}

.ant-typography.tracker-title {
  margin-bottom: 0px;
}

.tracker-title .ant-input {
  border: none;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 700;
}

.tracker-title .ant-input:focus{
  box-shadow: none;
}

.tracker-title .ant-typography-edit {
  display: flex !important;
  align-items: center;
}
