.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #F0F0F0 !important;
  position: sticky;
  top: 0px;
  z-index: 999999;
}

.header-menu {
  display: flex;
  column-gap: 15px;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  border: none;
}

.ant-menu-item.header-menu-item {
  display: flex;
  align-items: center;
  padding: 0px;
}

.ant-layout-header.header {
  padding-inline: 16px;
}

/* .ant-menu-item-selected::after, .ant-menu-item-selected::before, .ant-menu-item-selected:hover {
  border-bottom-width: 0px !important;
  border-style: none !important;
  border-bottom: 0px !important;
} */

.header-popover-item {
  width: 100% !important;
  min-width: 200px;
  display: flex;
  column-gap: 4px;
  align-items: center;
  /* padding: 4px 0px; */
  /* font-size: 14px;
  font-weight: 400; */
  /* cursor: pointer; */
}

.header-popover-item-icon {
  width: 30px;
}

.header-popover-content-container {
  width: 236px;
}
