.ant-menu.sidebar-menu li{
  margin: 0px !important;
  width: 100%;
  border-radius: 0px;
  border-bottom: 1px solid rgba(233, 236, 255, 1);
}

.ant-menu.sidebar-menu li:nth-child(1){
  border-bottom: none;
}

.ant-menu.sidebar-menu li .ant-menu-submenu-title{
  margin: 0px !important;
  width: 100%;
  border-radius: 0px;
  padding: 0px 20px 0px 0px;
}

.sidebar-menu.ant-menu-inline.ant-menu-root .ant-menu-item{
  column-gap: 4px;
}

.ant-layout-sider.sidebar-sider.ant-layout-sider-dark {
  min-height: calc(100vh - 64px);
  height: auto;
  border-right: 1px solid #F0F0F0;
}

.sidebar-workspace-item-label {
  width: auto;
  display: flex;
  font-weight: 600;
  color: #334488;
  white-space: nowrap;
  text-overflow: ellipsis; 
  overflow: hidden;
  padding-right: 20px;
}

.ant-menu-item.sidebar-workspace-create-item{
  height: auto;
  margin: 0px !important;
  width: 100%;
  padding: 0px !important;
}

.ant-menu-item .sidebar-workspace-create-input{
  border: 1px solid #D9D9D9;
}

.sidebar-workspace-form{
  border-top: 1px solid #E9ECFF;;
  height: 40px;
  background: #EBF0FF;
  width: 100%;
  padding-top: 4px;
  padding-inline: 24px;
}

.sidebar-workspace-input {
  border-radius: 2px;
  border: 1px solid var(--neutral-5, #D9D9D9);
  background: var(--neutral-1, #FFF);
}