/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:ital,wght@0,700;0,900;1,400&display=swap');

html, body, h1, h2, h3, h4, h5, h6, div, p, span, strong, a, ul, li, label, .ant-typography, .ant-form, .ant-form-item {
  font-family: 'Roboto', sans-serif
}

/* overriding ant classes */
.ant-form-item-explain {
  margin-top: 4px;
}

.ant-form-item-label, .ant-col.ant-col-24.ant-form-item-label {
  padding: 0px;
  font-weight: 400 !important;
  font-size: 14px;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px; /* Safari and Chrome */
  height: 0px; /* Safari and Chrome */
}